@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-8">
    <h4 class="display-4">Selamat datang di Troll Market</h4>
    <div>Ini adalah marketplace yang tidak pernah ada promosi dan diskon.
        Karena ini hanya assignment buat kalian, jadi buat apa ada diskon.</div>

</div>
